In [1]:
import requests
import json
import prettytable
import pandas as pd
from collections import defaultdict

In [2]:
economic_area_to_county= {
    'Bridgeport-Stamford-Norwalk':'Fairfield',
    'Waterbury':'Litchfield',
    'New Haven':'New Haven',
    'Hartford-West Hartford-East Hartford':'Hartford',
    'New Haven':'Middlesex',
    'Hartford-West Hartford-East Hartford':'Tolland',
    'Norwich-New London-Westerly':'New London',
    'Worcester':'Windham'
}

econmic_area_series_id ={
    'Bridgeport-Stamford-Norwalk':['LAUMT097195000000003','LAUMT097195000000004','LAUMT097195000000005','LAUMT097195000000006'],
    'Waterbury':['LAUMT097870000000003','LAUMT097870000000004','LAUMT097870000000005','LAUMT097870000000006'],
    'New Haven':['LAUMT097570000000003','LAUMT097570000000004','LAUMT097570000000005','LAUMT097570000000006'],
    'Hartford-West Hartford-East Hartford':['LAUMT097345000000003','LAUMT097345000000004','LAUMT097345000000005','LAUMT097345000000006'],
    'Norwich-New London-Westerly':['LAUMT097645000000003','LAUMT097645000000004','LAUMT097645000000005','LAUMT097645000000006'],
    'Worcester':['LAUMT257960000000003','LAUMT257960000000004','LAUMT257960000000005','LAUMT257960000000006']
}

period = {'M12':'Dec','M11':'Nov','M10':'Oct','M09':'Sept','M08':'Aug','M07':'July','M06':'Jun','M05':'May',
         'M04':'Apr','M03':'Mar','M02':'Feb','M01':'Jan'}

series_id_to_county = dict()

for ea, val in econmic_area_series_id.items():
    for sid in val:
        series_id_to_county[sid] = economic_area_to_county.get(ea)
county_to_series_id = defaultdict(list)

for sid, county in series_id_to_county.items():
    county_to_series_id[county].append(sid)
county_to_series_id

defaultdict(list,
            {'Fairfield': ['LAUMT097195000000003',
              'LAUMT097195000000004',
              'LAUMT097195000000005',
              'LAUMT097195000000006'],
             'Litchfield': ['LAUMT097870000000003',
              'LAUMT097870000000004',
              'LAUMT097870000000005',
              'LAUMT097870000000006'],
             'Middlesex': ['LAUMT097570000000003',
              'LAUMT097570000000004',
              'LAUMT097570000000005',
              'LAUMT097570000000006'],
             'New London': ['LAUMT097645000000003',
              'LAUMT097645000000004',
              'LAUMT097645000000005',
              'LAUMT097645000000006'],
             'Tolland': ['LAUMT097345000000003',
              'LAUMT097345000000004',
              'LAUMT097345000000005',
              'LAUMT097345000000006'],
             'Windham': ['LAUMT257960000000003',
              'LAUMT257960000000004',
              'LAUMT257960000000005',
              'LAUMT257960000000006']})

In [3]:
unemployment_df = pd.DataFrame()
unemployment_df['County'] = ''
unemployment_df['Year'] =''
unemployment_df['Period'] =''
unemployment_df['Unemployment Rate'] =''

In [4]:
unemployment_df

Empty DataFrame
Columns: [County, Year, Period, Unemployment Rate]
Index: []

In [6]:

headers = {'Content-type': 'application/json'}

index = 0
for county, sids in county_to_series_id.items():
    print(county)
    print(sids)
    data = json.dumps({"seriesid": ['LAUMT097195000000003', 'LAUMT097195000000004', 'LAUMT097195000000005', 'LAUMT097195000000006'],"startyear":"2008", "endyear":"2009"})

    p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)

    json_data = json.loads(p.text)
    
    for series in json_data['Results']['series']:
        x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
        seriesId = series['seriesID']

        for item in series['data']:

            unemployment_df.loc[index, 'County'] = series_id_to_county[seriesId]
            unemployment_df.loc[index, 'Year'] = item['year']
            unemployment_df.loc[index, 'Period'] = period.get(item['period'])
            unemployment_df.loc[index, 'Unemployment Rate'] = item['value']
            index +=1
    
    break

Fairfield
['LAUMT097195000000003', 'LAUMT097195000000004', 'LAUMT097195000000005', 'LAUMT097195000000006']

KeyError: 'series'

In [ ]:
unemployment_df